
body{
  
  background: #232527;
  text-align: center;
  max-width: auto;
  min-width: auto;
  margin: 0 auto;
  animation: fondo linear 2s infinite;
  
}
@keyframes fondo{
  0%{
  }
  25%{
  }
  50%{
  }
  75%{
  }
  100%{
  }
}
#perfil{
  max-width: 180px;
  border-radius: 100px;
  box-shadow: 0px 0px 30px white;
}
#imgCryp{
  max-width: 160px;
  filter: brightness(1.1);
  border-radius: 100px;
  border: 5px solid;
}

h1{
  color: white;
  
}
h2{
  color: white;
}
h3{
    color: white;

}
p{
    color: white;
    
}
#btnencrip{
  margin-bottom: 15px;
  border: 2px solid white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: white;
  
}
@keyframes btnrotar{
  from{
  transform: rotate(0);
  font-size: 10px;
  }
  to{
  transform: rotate(360deg);
  font-size: 30px;
  
  }
}
i{
  color: white;
  font-size: 50px;
  animation: rotar linear 6s infinite ;
}

@keyframes rotar{
  from{
    transform: rotateY(0);
  }
  to{
    transform: rotateY(360deg);
  }
}
#cont{
  height: 100px;
  margin: 0 auto;
  display: flex;
}
#tarjeta{
  margin: 0 auto;
  width: 20%;
}
#icon{
  position: absolute;
  margin: 0 auto;
  width: 20% ;
}
#nombre{
  position: absolute;
  margin: 0 auto;
  color: white;
  width: 20% ;
  opacity: 0%;
}
#tarjeta:hover #nombre{
  opacity: 100%;
}
#tarjeta:hover #icon{
  transform: rotateY(0) !important;
  animation-play-state: paused;
  opacity: 30%;
  text-shadow: 0px 0px 40px white;
}
#linkPage{
  
  width:40%;
  color: white;
  font-size: 50px;
  text-decoration: none;
  margin: 3%;
}
#linkPage:hover{
  color: greenyellow;
  text-shadow: 0px 0px 40px greenyellow;
  transform: scale(120%);
}
#cont2{
  margin: 0 auto;
  display: flex;
  width: 100%;
}
#cajas{
  margin: 0 auto;
  margin-top: 20px;
  height: auto;
  width: 40%;
  border: 3px solid white;
  border-radius: 20px;
  box-shadow: inset 0px 0px 20px white;
  
}
#cajas:hover{
  transform: scale(105%);
}
#footercont {
    margin: 0 auto;
    text-align: center;
    display: flex;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
footer {
    margin: 0 auto;
    height: 200px;
}
span{
  color: white;
}
#cv{
  background: black;
  height: 130px;
}
#downcv{
  width: 200px;
  height: 50px;
  border-radius: 30px;
  font-size: 30px;
}
#downcv:hover{
    box-shadow: inset 0px 0px 40px greenyellow;
    transform: scale(120%);
    

}