:root {

  --colorfondo: white;
  --relojfondo:#464646;
  --sombra-perfil: 0px 0px 38px black;
  --bgcv: rgb(23, 124, 131);
  --color-green: black;
  --color-red: rgb(23, 124, 131);
  --color-button: gray;
  --color-black: #000;
  
  --enlace-color: #464646;
  --text-color: #464646;
}

body.ligth-theme {
  --colorfondo: #232527;
  --text-color: white;
  --sombra-perfil: 0px 0px 38px white;
  --bgcv: black;
  --enlace-color: white;
  --relojfondo: white;
}

.menu {
  width: 100%;
  min-height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.menu h1 {
  font-size: 1.8rem;
}

.menu__enlace {
  color: var(--enlace-color);
  justify-content: space-around;
  display: inline-block;
  font-size: 1.5rem;
  margin: 10px;
  box-shadow: 0px 0px 5px var(--enlace-color);
  border-radius: 50px;
  padding: 5px;

}

.menu__enlace:hover {
  transform: scale(120%);
  background-color: rgb(23, 124, 131);

}

.container {
  display: flex;
  align-items: center;
}

body {
  font-family: 'Raleway', sans-serif;
  background: var(--colorfondo);
  text-align: center;
  max-width: 90%;
  min-width: auto;
  margin: 0 auto;
  animation: fondo linear 2s infinite;
}

@keyframes fondo {
  0% {}

  25% {}

  50% {}

  75% {}

  100% {}
}

.sobre {
  justify-content: space-between;
  text-align: center;

  display: flex;
  font-size: 2rem;
  align-items: center;


}

.foto__perfil {
  max-width: 210px;
  border-radius: 100px;
  box-shadow: var(--sombra-perfil);
  margin: 15px;
}

.sobre__info {
  margin: 10px;
  font-size: 5rem;
}

.sobre__h2 {
  margin: 10px;
  font-size: 2.5rem;
}

.sobre__enlace {
  justify-content: space-around;
  align-items: center;
  display: inline-block;
  font-size: 3rem;
  margin: 10px;
  color: var(--enlace-color);
  animation: saltar linear 2s infinite;
}

.sobre__enlace:hover {
  transform: scale(105%);
  text-shadow: var(--sombra-perfil);
  color: greenyellow;
  text-shadow: 0px 0px 40px greenyellow;

}


.sobre__h1 {
  font-size: 4rem;
}

.sobre__h2 {
  margin-top: 20px;
  font-size: 1.6rem;
}

.sobre__parrafo {
  margin: 10px;
  margin: 10px;
  font-size: 2rem;
  flex-wrap: wrap;
}

.sobre__mi {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  margin-top: 40px;
  margin-bottom: 30px;
}

.sobre__mi h1 {
  font-size: 3.7rem;
  margin-bottom: 20px;
}

.sobre__mi p {
  flex-wrap: wrap;
  font-size: 1.3rem;
  text-align: left;
  font-weight: 400;
  line-height: 26px;

}

.skills h1 {
  font-size: 4rem;
  margin-bottom: 100px;
  margin-top: 50px;
}

.formacion {
  margin-top: 50px;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 20px;
}

.formacion__container {

  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 40px;
}

.formacion h1 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 4rem;
  color: #464646;
}

.formacion h3 {
  font-size: 1.5rem;
  color: #000;
}

.formacion__tarjeta {
  width: 25%;
  padding: 10px;
}

.formacion__img {
  width: 100%;
}
.cursos{
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-around;
}
.formacion__tarjeta li {
  margin-top: 15px;
}

.experiencia__tarjeta {
  margin: 0 auto;
  max-width: 80%;
  border: solid 2px var(--text-color);
  margin-top: 20px;
  border-radius: 20px;
}

.experiencia_img {
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
  max-width: 60%;
  padding: 5px;
}

.experiencia h1 {
  font-size: 4rem;
}

.experiencia__tarjeta h1 {
  font-size: 2rem;
  margin-top: 15px;
}

.experiencia__tarjeta h2 {
  font-size: 1.5rem;
  margin-top: 15px;
}

.experiencia__tarjeta p {
  font-size: 1.3rem;
  margin-top: 15px;
  padding: 20px;
}
.portafolio{
  margin-top: 40px;
  margin-bottom: 20px;
}
.portafolio h1{
  font-size: 4rem;
}
.portafolio__container {
  justify-content: space-around;
  display: flex;
  width: 100%;
}

.portafolio__tarjeta {
  
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  width: 40%;
  border: 3px solid;
  border-color: var(--text-color);
  border-radius: 20px;
  box-shadow: inset 0px 0px 20px var(--text-color);

}
.portafolio__tarjeta a {
  width: 40%;
  color: var(--text-color);
  font-size: 50px;
  text-decoration: none;
  margin: 3%;
}
.portafolio__tarjeta h2{
  font-size: 1.8rem;
}

.portafolio__tarjeta a:hover {
  color: greenyellow;
  text-shadow: 0px 0px 40px greenyellow;
  transform: scale(120%);
}
.portafolio__enlace{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.portafolio__tarjeta:hover {
  transform: scale(105%);
}
.portafolio__img {
  margin-bottom: 15px;
  border: 2px solid;
  border-color: var(--text-color);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: var(--text-color);
}


h1,
h2,
h3,
p,
span {
  color: var(--text-color);

}



@keyframes btnrotar {
  from {
    transform: rotate(0);
    font-size: 10px;
  }

  to {
    transform: rotate(360deg);
    font-size: 30px;
  }
}

i {
  color: var(--text-color);
  font-size: 5rem;
  animation: rotar linear 6s infinite;
}

@keyframes rotar {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(360deg);
  }
}

.cont {
  width: 100%;
  height: 120px;
  margin: auto;
  overflow: hidden;
}

.slider {
  width: 2800px;
  display: flex;
  animation: scrol 20s linear infinite;
}

@keyframes scrol {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1000px);
  }
}

.slider:hover {
  animation-play-state: paused;
}

.tarjeta {

  position: relative;
  width: 150px;
}

.icon {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.nombre {
  font-size: 1.6rem;
  position: absolute;
  color: var(--text-color);
  width: 100%;
  opacity: 0%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.tarjeta:hover .nombre {
  opacity: 100%;
}

.tarjeta:hover .icon {
  transform: rotateY(0) !important;
  animation-play-state: paused;
  opacity: 30%;
  text-shadow: var(--sombra-perfil);
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  margin: 0 auto;
  text-align: center;
  background-color: black;
}
.footer__form{
  margin: 0 auto;
  font-size: 2rem;
  margin-top: 30px;
  width: 70%;
}
.form__entry{
  width: 20%;
  justify-content: right;
  align-items: center;
  margin: 10px;
}
.form__input{
  width: 80%;
  
}
.form__entry label{
  height: 50px;
}
.form__input input{
  font-size: 2rem;
  width: 80%;
  height: 50px;
  margin: 5px;
}
.form__container{
  width: 100%;
  display: flex;
  align-items: center;
  
}
.footer__form button{
  margin: 15px;
  max-width: 200px;
  height: 80px;
  border-radius: 20px;
  font-size: 3rem;
}
.footer__form button:hover{
  transform: scale(120%);
box-shadow:  0px 0px 10px greenyellow;
}
.whatsapp__img{
  margin: 20px;
  animation: saltar linear 4s infinite;
}
.footer h1{
  color: white;
  font-size: 2rem;
  margin: 20px;
}
.footer a,
.cv a {
  font-size: 48px;
  margin: 20px;
  animation: saltar linear 2s infinite;
}

.footer a:hover {
  color: greenyellow;
  text-shadow: 0px 0px 40px greenyellow;
  font-size: 60px;
}

.whatsapp{
  margin-top: 50px;

}
.whatsapp h1{
  color: white;
  font-size: 3rem;
}

@keyframes saltar {
  0% {
    transform: rotate(4deg);
  }

  20% {
    transform: rotate(-4deg);

  }

  40% {
    transform: rotate(4deg);

  }

  60% {
    transform: rotate(-4deg);
  }

  80% {
    transform: rotate(0deg);

  }

  100% {
    transform: rotate(0deg);

  }
}

.switch-button .switch-button__checkbox {
  display: none;
}

.switch-button .switch-button__label {
  background-color: var(--color-red);
  width: 60px;
  height: 30px;
  border-radius: 30px;
  display: inline-block;
  position: relative;
}

.switch-button .switch-button__label:before {
  transition: .2s;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: var(--color-button);
  content: '';
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 2px var(--color-black);
}

.switch-button .switch-button__checkbox:checked+.switch-button__label {
  background-color: var(--color-green);
}

.switch-button .switch-button__checkbox:checked+.switch-button__label:before {
  transform: translateX(2rem);
}

.name {
  margin: 0 auto;
  width: 100%;
}

.reloj {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  z-index: -2;
  border: solid var(--relojfondo);
  border-radius: 20px;
  animation: tictoc 1s linear infinite;
  box-shadow: inset 0px 0px 15px black;
}

@keyframes tictoc {
  0% {
    box-shadow: inset 0px 0px 10px paleturquoise;
  }

  100% {
    box-shadow: inset 0px 0px 15px black;

  }
}

.unidades {
  color: var(--colorfondo);
  font-family: digital;
}

@media screen and (min-width: 360px) {
  .menu__nav{
    display: none;
  }
  .sobre{
    display: block;
  }
  .sobre h1{
    font-size: 2.5rem;
  }
  .sobre__parrafo {
    font-size: 1.4rem;
  }
  .formacion h1 {
    font-size: 2.5rem;
  }
  .sobre__mi h1 {
    font-size: 2.5rem;
  }
  .skills h1 {
    font-size: 2.5rem;
  }
  .experiencia h1 {
    font-size: 2.5rem;
  }
  .experiencia__tarjeta h1 {
    font-size: 1.5rem;
  }
  .portafolio__tarjeta h2{
    font-size: 1.2rem;
  }
  .portafolio h1 {
    font-size: 2.5rem;
  }
  .form__entry label{
    font-size: 1rem;
  }
  .form__input input{
    font-size: 1rem;
  }
  .footer h1{
    font-size: 1.4rem;
  }
  .whatsapp__img{
    max-width: 250px;
  }
  .whatsapp h1{
    font-size: 1.5rem;
  }
  
}

@media screen and (min-width: 768px) {
  .menu__nav{
    display: none;
  }
  .sobre{
    display: flex;
  }
  .sobre h1{
    font-size: 3rem;
  }
  .sobre__parrafo {
    font-size: 1.7rem;
  }
  .formacion h1 {
    font-size: 3rem;
  }
  .sobre__mi h1 {
    font-size: 3rem;
  }
  .skills h1 {
    font-size: 3rem;
  }
  .experiencia h1 {
    font-size: 3rem;
  }
  .experiencia__tarjeta h1 {
    font-size: 1.8rem;
  }
  .portafolio__tarjeta h2{
    font-size: 1.4rem;
  }
  .portafolio h1 {
    font-size: 3rem;
  }
  .form__entry label{
    font-size: 1.5rem;
  }
  .form__input input{
    font-size: 1.5rem;
  }
  .footer h1{
    font-size: 1.7rem;
  }
  .whatsapp__img{
    max-width: 400px;
  }
  .whatsapp h1{
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1440px) {
  .menu__nav{
    display: block;
  }
  .sobre{
    display: flex;
  }
  .sobre h1{
    font-size: 4rem;
  }
  .sobre__parrafo {
    font-size: 2rem;
  }
  .formacion h1 {
    font-size: 4rem;
  }
  .sobre__mi h1 {
    font-size: 3.7rem;
  }
  .skills h1 {
    font-size: 4rem;
  }
  .experiencia h1 {
    font-size: 4rem;
  }
  .portafolio h1 {
    font-size: 4rem;
  }
  .experiencia__tarjeta h1 {
    font-size: 2rem;
  }
  .portafolio__tarjeta h2{
    font-size: 1.8rem;
  }
  .form__entry label{
    font-size: 2rem;
  }
  .form__input input{
    font-size: 2rem;
  }
  .footer h1{
    font-size: 2rem;
  }
  .whatsapp__img{
    max-width: 500px;
  }
  .whatsapp h1{
    font-size: 3rem;
  }
}

@font-face {
  font-family: digital;
  src: url(/recursos/DS-DIGIB.TTF);
}