:root{
  --colorfondo: #232527 ;
  --relojfondo: rgb(23, 124, 131) ;
  --sombra-perfil:0px 0px 38px white;
  --text-color: white;
  --bgcv : black;
  --color-green: black;
  --color-red: rgb(23, 124, 131);
  --color-button: gray;
  --color-black: #000;
}
body.ligth-theme{
    --colorfondo: white ;
    --relojfondo: #232527 ;
    --sombra-perfil:0px 0px 38px black;
    --text-color: black;
    --bgcv : rgb(23, 124, 131);

}
body{
  background: var(--colorfondo);
  text-align: center;
  max-width: auto;
  min-width: auto;
  margin: 0 auto;
  animation: fondo linear 2s infinite;
}
@keyframes fondo{
  0%{
  }
  25%{
  }
  50%{
  }
  75%{
  }
  100%{
  }
}
.perfil{
  max-width: 180px;
  border-radius: 100px;
  box-shadow: var(--sombra-perfil);
}
.imgCryp{
  max-width: 160px;
  filter: brightness(1.1);
  border-radius: 100px;
  border: 5px solid;
}

h1,h2,h3,p,span{
  color: var(--text-color);
  
}
.btnencrip{
  margin-bottom: 15px;
  border: 2px solid;
  border-color: var(--text-color);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: var(--text-color);
}
@keyframes btnrotar{
  from{
  transform: rotate(0);
  font-size: 10px;
  }
  to{
  transform: rotate(360deg);
  font-size: 30px;
  }
}
i{
  color: var(--text-color);
  font-size: 50px;
  animation: rotar linear 6s infinite ;
}

@keyframes rotar{
  from{
    transform: rotateY(0);
  }
  to{
    transform: rotateY(360deg);
  }
}
.cont{
  width: 100%;
  height: 80px;
  margin: auto;
  overflow: hidden;
}
.slider{
  width: 2000px;
  display: flex;
  animation: scrol 20s linear infinite;
}
@keyframes scrol{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-1000px);
  }
}
.slider:hover{
  animation-play-state: paused;
}
.tarjeta{
  position: relative;
  width: 100px;
}
.icon{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.nombre{
  position: absolute;
  color: var(--text-color);
  width: 100%;
  opacity: 0%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.tarjeta:hover .nombre{
  opacity: 100%;
}
.tarjeta:hover .icon{
  transform: rotateY(0) !important;
  animation-play-state: paused;
  opacity: 30%;
  text-shadow: var(--sombra-perfil);
}
.cajas a{
  width:40%;
  color: var(--text-color);
  font-size: 50px;
  text-decoration: none;
  margin: 3%;
}
.cajas a:hover{
  color: greenyellow;
  text-shadow: 0px 0px 40px greenyellow;
  transform: scale(120%);
}
.cont2{
  margin: 0 auto;
  display: flex;
  width: 100%;
}
.cajas{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  width: 40%;
  border: 3px solid ;
  border-color: var(--text-color);
  border-radius: 20px;
  box-shadow: inset 0px 0px 20px var(--text-color);
  
}
.cajas:hover{
  transform: scale(105%);
}
.footercont {
    margin: 0 auto;
    text-align: center;
    display: flex;
    text-align: center;
    background-color: var(--bgcv);
}
footer {
    margin: 0 auto;
}
.cv{
  background:  var(--bgcv) ;
  height: auto;
}
.downcv{
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  font-size: 30px;
  overflow: hidden;
}
.downcv::before {
  content: '';
  top: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: greenyellow;
  font-size: 30px;
  z-index: -1;
  
}
.downcv:hover::before{
  left: 0;
  transition: all 2s;
}
.downcv:hover{
    cursor: pointer;
    transform: scale(120%);
}
.footercont a,.cv a{
  color: var(--text-color);
  font-size: 48px;
  margin: 20px;
  animation: saltar linear 2s infinite;
}
.footercont a:hover, .cv a:hover{
  color: greenyellow;
  text-shadow: 0px 0px 40px greenyellow;
  font-size: 60px;
}
@keyframes saltar{
  0%{
    transform: rotate(4deg);
  }
  20%{
        transform: rotate(-4deg);

  }
  40%{
        transform: rotate(4deg);

  }
  60%{
    transform: rotate(-4deg);
  }
  80%{
        transform: rotate(0deg);

  }
  100%{
        transform: rotate(0deg);

  }
}
.switch-button {
    display: inline-block;
    width: 30%
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: var(--color-red);
    width: 60px;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
    position: relative;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 2px var(--color-black);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--color-green);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(2rem);
}
.menu{
  display: flex;
  margin: 0 auto;
  text-align: center;
}
.name{
  margin: 0 auto;
  width: 100%;
}
.reloj{
  display: flex;
  margin: 0 auto;
  margin: 5px;
  z-index: -2;
  width: 70%;
  border: solid var(--relojfondo);
  box-shadow: inset 0px 0px 40px var(--relojfondo);
  border-radius: 20px;
  height: 100px;
  animation: tictoc 1s linear infinite;
  animation-play-state: paused;
}
@keyframes tictoc{
  0%{
    box-shadow: inset 0px 0px 30px paleturquoise;
  }
  100%{
      box-shadow: inset 0px 0px 60px black;

  }
}
.reloj .unidades{
  display: flex;
  position: relative;
  text-align: center;
  min-width: 50px;
  max-width: 100px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 100%;
  background: var(--relojfondo);
  min-height: 50px;
  max-height: 100px

}
.reloj div{
  display: flex;
  position: relative;
  text-align: center;
  margin-top: 20px;
  height: 50px;

}
.reloj h1{
  text-shadow: 2px -2px 2px black;
  margin: 0 auto;
  margin-top: 5px;
  font-family: digital;
  color: white;
}
@font-face{
  font-family: digital;
  src: url(/recursos/DS-DIGIB.TTF);
}